.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28em;
  padding-left: 20px;
  gap: 2em;

  &__specs {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 13em;

    &__content {
      width: 100%;
      padding-left: 15px;
    }
  }

  &__buy-button button {
    padding: 10px 20px;
    border: 0;
  }
}
