@use '../../util/' as util;

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;

  @include util.breakpoint('small') {
    flex-direction: row;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    gap: 60px;

    @include util.breakpoint('medium') {
      flex-direction: row;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  align-items: center;

  @include util.breakpoint('small') {
    text-align: start;
    align-items: start;
  }

  &__hours__title {
    padding-bottom: 20px;
  }

  &__location__adress,
  &__contact__phone {
    padding-top: 20px;
  }
}
