@use '../../util/' as util;

.stories {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    max-width: 1024px;
    margin: 0 auto;
  }

  &__title {
    padding: 10px;
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1024px;
    width: 100%;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 0 0 30px 30px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 1024px;
    width: 100%;
    padding: 0 10px;

    @include util.breakpoint('small') {
      flex-direction: row;
    }
  }

  &__top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    width: 100%;

    @include util.breakpoint('small') {
      max-width: 320px;
    }
  }

  &__top-left__top {
    background-image: url(../assets/about/2002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;

    @include util.breakpoint('small') {
      max-width: 320px;
    }
  }

  &__top-left__bottom {
    background-image: url(../assets/about/2004-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;

    @include util.breakpoint('small') {
      max-width: 320px;
    }
  }

  &__top-right {
    background-image: url(../assets/about/2005.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;

    @include util.breakpoint('small') {
      height: 420px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 1024px;
    width: 100%;
    padding: 0 10px;

    @include util.breakpoint('small') {
      flex-direction: row;
    }
  }

  &__bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    gap: 20px;
    max-width: 400px;

    @include util.breakpoint('small') {
      max-width: 320px;
    }
  }

  &__bottom-left {
    background-image: url(../assets/about/2005-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;

    @include util.breakpoint('small') {
      height: 420px;
    }
  }

  &__bottom-right__top {
    background-image: url(../assets/about/2008.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;

    @include util.breakpoint('small') {
      max-width: 320px;
    }
  }

  &__bottom-right__bottom {
    background-image: url(../assets/about/today.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;

    @include util.breakpoint('small') {
      max-width: 320px;
    }
  }
}
