:root {
  --font-heading-family: 'Racing Sans One', sans-serif;
  --font-heading-weight: 700;
  --font-heading-style: normal;

  --font-body-family: 'Roboto', sans-serif;
  --font-body-optical-sizing: auto;
  --font-body-style: normal;
  --font-body-weight: 700;
  --font-body-variation-settings: 'wdth' 100;

  --font-navbar-small-size: 12px;
  --font-navbar-large-size: 16px;
}
