@use '../util/' as util;

.navbar {
  z-index: 20;
  position: absolute;
  background-color: transparent;
  min-width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
    margin: 0 auto;

    @include util.breakpoint('small') {
      max-width: 1020px;
      margin: 0 auto;
    }
  }

  &__menu-icon {
    z-index: 10;
    display: flex;
    padding: 5px;

    @include util.breakpoint('small') {
      display: none;
    }
  }

  &__menu--open {
    z-index: 10;
    display: none;

    @include util.breakpoint('small') {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 2rem;
    }
  }

  &__menu {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 0;
    top: 60px;
    left: 0;

    & li {
      padding: 0.5em 1em;

      @include util.breakpoint('small') {
        border-bottom: none;
      }
    }

    @include util.breakpoint('small') {
      position: relative;
      display: flex;
      flex-direction: row;
      text-align: center;
      background-color: transparent;
      width: auto;
      top: 0;
    }
  }

  &__cart-icon {
    display: none;

    @include util.breakpoint('small') {
      display: block;
    }
  }
}
