@use '../util/' as util;

.navbar {
  position: relative;
  background-color: transparent;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1024px;
    padding: 0.2rem 2rem;
    margin: 0 auto;
  }

  &__menu-icon {
    display: block;
    display: flex;
    padding: 5px;

    @include util.breakpoint('small') {
      display: none;
    }
  }

  &__menu--open {
    display: none;

    @include util.breakpoint('small') {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 2rem;
    }
  }

  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;

    width: 100%;
    padding: 0;
    top: 80px;
    left: 0;

    & li {
      padding: 0.3em 1em;

      @include util.breakpoint('small') {
        border-bottom: none;
      }
    }

    @include util.breakpoint('small') {
      position: relative;
      display: flex;
      flex-direction: row;
      text-align: center;
      background-color: transparent;

      width: auto;
      top: 0;
      gap: 0.2rem;
    }
  }

  &__cart-icon {
    display: none;

    @include util.breakpoint('small') {
      display: block;
    }
  }
}
