@use '../util/' as util;

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 100px 0 50px 0;

  @include util.breakpoint('medium') {
    flex-direction: row;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__search-container,
  &__filter-price,
  &__filter-category,
  &__recently {
    padding: 25px;
  }

  &__search-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__product-container {
    width: 100%;
  }

  &__search-form button {
    padding: 7px 10px 7px 10px;
  }

  &__search-form {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  &__search-form input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
  }

  &__right {
    padding: 85px;
    width: 100%;
    max-width: 770px;
  }

  &__breadcrumb {
    display: flex;
    gap: 3px;
  }

  &__list-header {
    display: flex;
    flex-direction: column;

    @include util.breakpoint('medium') {
      flex-direction: row;
    }
  }

  &__productlist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 10px;
    padding: 70px 0 10px 0;
  }

  &__filter-category {
    & ul {
      list-style: none;
      padding-left: 10px;
    }
  }

  &__spinner {
    margin-top: 20px;
  }

  &__filter-price {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__filter-range {
    display: flex;
    justify-content: space-between;
  }
}
