@use '../util/' as util;

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-top: 100px;

  @include util.breakpoint('medium') {
    flex-direction: row;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__right {
    padding: 60px;
  }

  &__list-header {
    display: flex;
  }

  &__search-container,
  &__filter-price,
  &__filter-category,
  &__recently {
    padding: 20px;
  }
}
