@use '../util/' as util;

:root {
  --background-color: #222;
  --text-color: white;
}

.navbar {
  &__logo a {
    color: white;
  }

  &__menu-icon {
    background-color: #222;
    color: rgb(144, 40, 35);
  }

  &__menu li {
    background-color: #222;
    border-bottom: 1px solid #555555;

    @include util.breakpoint('medium') {
      background-color: transparent;
    }
  }

  &__cart-icon a {
    color: white;
  }
}

.navbar__item a {
  color: white;

  &:hover {
    color: rgb(144, 40, 35);
  }

  @include util.breakpoint('medium') {
    &:hover {
      color: white;
    }
  }
}

.header {
  color: white;

  &__buy-button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      background-color: rgb(126, 36, 31);
    }
  }
}

.footer__link {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: rgb(126, 36, 31);
  }
}

.social-link {
  color: white;
  cursor: pointer;

  &:hover {
    color: rgb(126, 36, 31);
  }
}

.discover {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }

  &__list-style {
    color: #df453e;
  }

  &__button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}

.specifications {
  background-color: white;
  color: black;

  &__overlay {
    color: white;
    background-image: linear-gradient(transparent, rgb(32, 32, 32));

    &:hover {
      background-image: linear-gradient(rgba(32, 32, 32, 0.3), rgb(32, 32, 32));
    }
  }
}

.newbike {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }

  &__button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}

.contact {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }
}

.contact-details {
  background-color: rgb(238, 238, 238);
  color: black;
}

.about {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }
}

.programme {
  background-color: rgb(238, 238, 238);
  color: black;

  &__movie {
    color: white;
    &__overlay {
      background-image: linear-gradient(transparent, rgb(32, 32, 32));
    }
  }

  &__content__button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}

.stories {
  background-color: white;
  color: black;

  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));

    &:hover {
      background-image: linear-gradient(rgba(32, 32, 32, 0.3), rgb(32, 32, 32));
    }

    &__title {
      color: white;
    }

    &__year {
      color: #df453e;
    }
  }
}

.process {
  background-color: white;
  color: black;
}

.process__steps__step__number {
  color: #df453e;
}

.telephone {
  background-color: white;
  color: black;

  &__sales__icon {
    color: #df453e;
  }

  &__service__icon {
    color: #df453e;
  }

  &__dealer__icon {
    color: #df453e;
  }
}

.form {
  &__button button {
    background-color: #df453e;
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}

.shop {
  background-color: rgb(230, 230, 230);
  color: black;
  &__search-container,
  &__filter-price,
  &__filter-category,
  &__recently {
    background-color: white;
  }

  &__right {
    background-color: white;
  }

  &__right h2 {
    color: #df453e;
  }

  &__search-form button {
    color: white;
    border: none;
    background-color: #df453e;
  }

  &__search-form input {
    border: solid 1px rgb(226, 226, 226);
  }

  &__list-header select {
    border: none;
    background-color: white;
  }
}

.card {
  &__type {
    color: gray;
  }
}
