@use '../util/' as util;

:root {
  --background-color: #222;
  --text-color: white;
}

.navbar {
  &__logo a {
    color: white;
  }

  &__menu-icon {
    background-color: #222;
    color: rgb(144, 40, 35);
  }

  &__menu li {
    background-color: #222;
    border-bottom: 1px solid #555555;

    @include util.breakpoint('medium') {
      background-color: transparent;
    }
  }

  &__cart-icon a {
    color: white;
  }
}

.navbar__item a {
  color: white;

  &:hover {
    color: rgb(144, 40, 35);
  }

  @include util.breakpoint('medium') {
    &:hover {
      color: white;
    }
  }
}

.header {
  color: white;

  &__buy-button button {
    background-color: rgb(144, 40, 35);
    color: white;

    &:hover {
      background-color: rgb(126, 36, 31);
    }
  }
}

.footer__link {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: rgb(126, 36, 31);
  }
}

.social-link {
  color: white;
  cursor: pointer;

  &:hover {
    color: rgb(126, 36, 31);
  }
}
