@use '../util/' as util;

:root {
  --background-color: #222;
  --text-color: white;
}

.navbar {
  &__logo a {
    color: white;
  }

  &__menu-icon {
    background-color: #222;
    color: rgb(144, 40, 35);
  }

  &__menu li {
    background-color: #222;
    border-bottom: 1px solid #555555;

    @include util.breakpoint('medium') {
      background-color: transparent;
    }
  }

  &__cart-icon a {
    color: white;
  }
}

.navbar__item a {
  color: white;

  &:hover {
    color: rgb(144, 40, 35);
  }

  @include util.breakpoint('medium') {
    &:hover {
      color: white;
    }
  }
}

.header {
  color: white;

  &__buy-button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      background-color: rgb(126, 36, 31);
    }
  }
}

.footer__link {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: rgb(126, 36, 31);
  }
}

.social-link {
  color: white;
  cursor: pointer;

  &:hover {
    color: rgb(126, 36, 31);
  }
}

.discover {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }

  &__list-style {
    color: #df453e;
  }

  &__button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}

.specifications {
  background-color: white;
  color: black;

  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));

    &:hover {
      background-image: linear-gradient(rgba(32, 32, 32, 0.3), rgb(32, 32, 32));
    }
  }

  &__articles {
    color: white;
  }
}

.newbike {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }

  &__button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}

.contact {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }
}

.about {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }
}

.programme {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));
  }

  &__content__button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}

.stories {
  &__overlay {
    background-image: linear-gradient(transparent, rgb(32, 32, 32));

    &:hover {
      background-image: linear-gradient(rgba(32, 32, 32, 0.3), rgb(32, 32, 32));
    }

    &__year {
      color: #df453e;
    }
  }
}

.process__steps__step__number {
  color: rgb(144, 40, 35);
}

.telephone {
  &__sales__icon {
    color: rgb(144, 40, 35);
  }

  &__service__icon {
    color: rgb(144, 40, 35);
  }

  &__dealer__icon {
    color: rgb(144, 40, 35);
  }
}

.form {
  &__button button {
    background-color: rgb(144, 40, 35);
    transition: background-color 0.3s ease;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(126, 36, 31);
    }
  }
}
