@use '../util/' as util;

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  font-style: var(--font-heading-style);
}

h1 {
  font-size: 4.5em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
}

p {
  margin-top: 0;
}

.navbar__item a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: var(--font-body-weight);
  font-size: var(--font-navbar-small-size);

  @include util.breakpoint('small') {
    font-size: var(--font-navbar-large-size);
  }
}

.header {
  &__list-item {
    font-weight: var(--font-body-weight);
  }

  &__buy-button button {
    transition: background-color 0.3s ease;
    font-weight: var(--font-body-weight);
  }
}
