@use '../util/' as util;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  font-style: var(--font-heading-style);
  text-transform: uppercase;
}

h1 {
  font-size: 3.75rem;
  line-height: 1.4;

  @include util.breakpoint('medium') {
    font-size: 5.3125rem;
  }
}

h2 {
  font-size: 2.25rem;

  @include util.breakpoint('medium') {
    font-size: 3.625rem;
  }
}

h3 {
  font-size: 1.75rem;

  @include util.breakpoint('medium') {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.375rem;

  @include util.breakpoint('medium') {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.9rem;
}

span {
  font-size: inherit;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin-top: 0;
}

.about,
.programme__movie__title {
  font-size: var(--font-navbar-small-size);

  @include util.breakpoint('small') {
    font-size: var(--font-navbar-large-size);
  }
}

a,
.navbar__item a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  font-weight: var(--font-body-weight);
  font-size: var(--font-navbar-small-size);

  @include util.breakpoint('medium') {
    font-size: var(--font-navbar-large-size);
  }
}

.header {
  &__list-item {
    font-weight: var(--font-body-weight);
  }

  &__buy-button button {
    font-weight: var(--font-body-weight);
  }
}

.footer__copyright {
  font-size: 0.8em;
}

.discover__title {
  text-transform: uppercase;
}

.stories__overlay__year {
  font-weight: 700;
}

.programme__content__button button {
  text-transform: uppercase;
}

.card {
  &__type {
    font-size: 0.9em;
  }
}

.shop {
  &__list-header,
  select {
    font-size: 1em;
  }

  &__breadcrumb {
    font-size: 0.9em;
  }

  &__filter-category li {
    font-size: 0.8em;
    font-weight: 700;
  }
}

.price {
  &__value {
    font-weight: 700;
    font-size: 0.9em;
  }
}

.review-card {
  &__name {
    font-weight: bold;
  }

  &__date {
    font-style: italic;
  }

  &__body {
    font-size: 1rem;
    line-height: 1.5;
  }
}
